body {
    font-family: 'Press Start 2P', cursive; background-image: url(starTrek.jpg); background-repeat: no-repeat; background-size: cover; color: rgba(255, 255, 255, 0.6);
}
span {
    font-weight: bold;
}
h1 {
    font-size: 50px; letter-spacing: 10px; text-align: center; text-transform: uppercase; text-decoration: underline;
}
#series-movies {
    font-size: 20px;
}
h2 {
    font-size: 2em; text-align: center;
}
li {
    line-height: 2; font-size: 1rem;
}
#characters {
    font-size: 18px;
}
h4 {
    letter-spacing: 15px; font: 'Press Start 2P'; text-align: center;
}
h3 {
    text-align: center;
}
